{% extends 'base.html.twig' %}

{% block title %}Tableau de bord !{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center">Votre tableau de bord</h1>
        </div>
    </div>
    <br />
    <div class="row" style="min-height:200px">
        <div class="col-lg-4">
            <h3 class="text-center">Vos réservations</h3>
            {% for resa in reservations %}
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Reservation n°{{resa.id}}</div>
                    <div class="card-body">
                    <h4 class="card-title">Reservation n°{{resa.id}}</h4>
                    <p class="card-text">{{resa.debut|date("d/m/Y H:i", "Europe/Paris")}} -> {{resa.fin|date("d/m/Y H:i", "Europe/Paris")}}</p>
                    <p class="card-text">Voiture n°{{ resa.voiture }} </p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-4 bg-light">
            <h3 class="text-center">Vos déclarations</h3>
        </div>
        <div class="col-lg-4">
            <h3 class="text-center">Global</h3>
        </div>
    </div>
</div>

{% endblock %}
