{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}

<div class="container">
    <br />
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center">Réservation</h1>
        </div>
    </div>
{{ form_start(form) }}
    <br />
    <div class="row">
        <h4>Selectionnez vos horaires :</h4>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6">
            <div class="card text-white bg-primary">
                <div class="card-header">Début</div>
                <div class="card-body">
                    <h4 class="card-title">Horaires</h4>
                    <div class="offset-2">
                        <label>Date :</label>
                        {{form_widget(form.debut.date)}}
                        <br/>
                        <div class="form-inline">
                            <label>Heure :</label>
                            {{form_widget(form.debut.time)}}
                        </div>
                    </div>
                </div>
            </div>      
        </div>
        <div class="col-lg-6">
            <div class="card text-white bg-secondary">
                <div class="card-header">Fin</div>
                <div class="card-body">
                    <h4 class="card-title">Horaires</h4>
                    <div class="offset-2">
                        <label>Date :</label>
                        {{form_widget(form.fin.date,  {'label': 'Date :'})}}
                        <br/>
                        <div class="form-inline">
                            <label>Heure :</label>
                            {{form_widget(form.fin.time)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Options</div>
                <div class="card-body">
                    <div class="offset-2">
                        <label>Nombre de places souhaitées :</label>
                        {{form_widget(form.optPlace)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <!--  Chargement     -->
    {% if charger == true %}
        <div class="row">
            {{form_row(form.load)}}
        </div>

        <br/>
        <hr></hr>
        <br/>
        {% if localité == "interne" %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="card text-white bg-success">
                        <div class="card-header">Voitures</div>
                        <div class="card-body">
                            <h4 class="card-title">Voitures de service disponible</h4>
                            <div class="offset-2">
        {% else %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="card text-white bg-warning">
                        <div class="card-header">Voitures</div>
                        <div class="card-body">
                            <h4 class="card-title">Aucune voiture du service disponible</h4>
                            <h4 class="card-title">Voiture des autres services disponible</h4>
                            <div class="offset-2">


        {% endif %}
                                <select id="voitureChoisie" name="voitureChoisie">
                                    {% for voiture in voitures %}
                                        <option value="{{ voiture.id }}">Voiture n°{{ voiture }} - {{voiture.service.nom}} - {{voiture.responsable}} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <br />
        {{form_row(form.save)}}
        <!--<button class="btn btn-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
        </button>-->
    {% else %}
        <div class="row">
            {{form_row(form.load)}}
        </div>
        <div class="row" style="display:none">
            {{form_row(form.save)}}
        </div>
    {% endif %}
    <!--                                                   -->

    <div class="row">
        {{form_row(form.personne.setRendered())}}
    </div>
</div>
{{ form_end(form) }}

{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    /*function sauvegardeEnCours()
    {
        var button = document.getElementById('reservation_save');
        button.innerHTML = "<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span>Sauvegarde ...";
        button.disabled = true;
    }*/
</script>

{% endblock %}
