<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Gestion flotte automobile{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset ('build/app.css') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            {% if not app.user%}
                <a class="navbar-brand" href="#">Gestion flotte automobile</a>
            {% else %}
                <a class="navbar-brand" href="{{ path('tableauDeBord') }}">Gestion flotte automobile</a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    {% if not app.user%}
                    <li class="nav-item">
                        <a href="{{path('tableauDeBord')}}" class="nav-link">
                            Connexion
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('tableauDeBord') }}">Tableau de bord</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('reservation') }}">Reserver un véhicule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('pointage') }}">Pointer une reservation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('association') }}">Associer un pointage</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_logout')}}" class="nav-link">
                            Déconnexion
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        <script src=" {{ asset ( 'build/app.js' ) }}"></script>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/locale/fr.js') }}"></script>

            <script type="text/javascript">
                $(function () {
                    $('#calendar-holder').fullCalendar({
                        locale: 'fr',
                        header: {
                            left: 'prev, next, today',
                            center: 'title',
                            right: 'month, agendaWeek, agendaDay'
                        },
                        businessHours: {
                            start: '08:00',
                            end: '18:00',
                            dow: [1, 2, 3, 4, 5]
                        },
                        scrollTime:'08:00:00',
                        defaultView: 'agendaWeek',
                        lazyFetching: true,
                        navLinks: true,
                        selectable: true,
                        editable: true,
                        eventDurationEditable: true,
                        eventSources: [
                            {
                                url: '/chargementCalendrier',
                                error: function () {
                                    alert('There was an error while fetching FullCalendar!');
                                }
                            }
                        ]
                    });
                });
            </script>
        
        {% endblock %}
    </body>
</html>
